
.toast
{
  align-items: center;
  position: relative;
  align-content: center;
}


.MessageArea{
  border: #000000;
  align-content: right;
  position: absolute;
  right: 2%;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 2%;
  border-radius: 15px;
  height: 95%;
  overflow-y: scroll;
  margin-left: 2%;
}

.aboutAs{
  align-content: center;
  position: absolute;
  right: 30%;
  left: 30%;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 2%;
  border-radius: 15px;
  direction: rtl;
  margin-right: 1%;
}
.imgHome{
  position: absolute;
  align-content: left;
  position: absolute;
  left: 2%;
  border-radius: 15px;
  width: 50.5%;
}

.imgLogo{
  width: 100px;
  height: 100px;
  margin: 5px;
  border: 2px solid rgb(174, 36, 76);
  border-radius: 40px;
}
html { 
    background: url(http://www.up2me.co.il/images/22605201.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.aboutAsTitle{
  text-align: center;
}
.bigTitle{
    text-shadow: 3px 1px rgb(235, 235, 235);
  }
  .smallTitle{
        text-shadow: 1px 1px rgb(235, 235, 235);
  }

  .title{
    width: 35%;
    position: relative;
    left: 33%;
    padding: 1px;
    border-radius: 15px;
  }
  .imgTitle{
 
    background-color: rgba(255, 255, 255, 0.233);
    height: 200px;
    width: auto;
    border-radius: 20px;
    padding: 2px;
  }

  .buttonStyle {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:  #279c96;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(121, 116, 116);
    margin: 1%;
  }
  
  .buttonStyle:hover {background-color: #c2e3dc;}
  
  .buttonStyle:active {
    background-color: #d1ffd7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
  .LinkStyle:hover{text-emphasis-color: rgb(148, 202, 150)}
  .LinkStyle{
    text-decoration: none;
    color: #000000;
    
  }
  .LinkStyle:visited{
      background-color: #fff;
  } 

  .inputStyle {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(39, 156, 150);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(121, 116, 116);
  }

  .inputStyleForm{
    height: 0.5px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(174, 36, 76);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(121, 116, 116);
    padding: 30px;
    margin: 1%;
  }

  
  .buttonStyleForm {
    display: inline-block;
    padding: 5px 15px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(174, 36, 76);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(121, 116, 116);
    margin: 1%;
  }
  
  .buttonStyleForm:hover {background-color: rgb(241, 190, 205);}
  
  .buttonStyleForm:active {
    background-color: rgb(241, 190, 205);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .CreateAptContainer{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    margin: 2%;
    padding: 2%;
  }


  .ContactTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width:100%;
    margin: 5%;
    
  }
  
  .TenantTable td, .TenantTable th {
    border: 2px solid rgb(174, 36, 76);
    padding: 8px;
    border-radius: 10px;
  }
  
  .TenantTable tr:nth-child(even){background-color: rgba(253, 227, 235, 0.788);}
  .TenantTable tr:nth-child(odd){background-color: rgba(235, 235, 245, 0.76);}
  
  .TenantTable tr:hover {background-color:rgb(241, 190, 205);}
  
  .TenantTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(174, 36, 76);
    color: white;
    text-align: center;
  }

  .onEdit{
    height: 1px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: rgb(174, 36, 76);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(121, 116, 116);
    padding: 30px;
    margin: 1%;
  }



  .fadeIn{
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;	
  
    animation-duration: 1.5s;	
    -webkit-animation-duration: 1.5s;
  
    animation-timing-function: ease-in-out;	
    -webkit-animation-timing-function: ease-in-out;		
  
    visibility: visible !important;	
  }
  
  @keyframes fadeIn {
    0% {
      transform: scale(0);
      opacity: 0.0;		
    }
    60% {
      transform: scale(1.1);	
    }
    80% {
      transform: scale(0.9);
      opacity: 1;	
    }	
    100% {
      transform: scale(1);
      opacity: 1;	
    }		
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;		
    }
    60% {
      -webkit-transform: scale(1.1);
    }
    80% {
      -webkit-transform: scale(0.9);
      opacity: 1;	
    }	
    100% {
      -webkit-transform: scale(1);
      opacity: 1;	
    }		
  }
